################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotNet5783_1523_2008/Bin/DalList/.vs/DalList/FileContentIndex
/dotNet5783_1523_2008/Bin/DalFacade/.vs/DalFacade/FileContentIndex
/dotNet5783_1523_2008/Bin/.vs/Bin/FileContentIndex
/dotNet5783_1523_2008/Bin/DalTest/.vs/DalTest/FileContentIndex/2e760b5c-3242-46fa-ab6b-73edf2cf502b.vsidx
