################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotNet5783_1523_2008/Bin/DalList/.vs/DalList/FileContentIndex
